body{
  margin: 0;
  padding: 0;
}

.cap{
  width: 500px;
  height: 800px;
  background-color: pink;
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}



.pel{
  height: 200px;
  background-color: black;
  border-radius: 100px 100px 0 0;
}

.ulls{
  height: 200px;
  width: 100%;
}


.celles{
height:  20px;
margin-top: 10px;
}

.cella-esquerra{
  float: left;
  background-color: black;
  width: 40%;
  height: 100%;
  margin-left: 20px;
  border-radius: 3px;
}

.cella-dreta{
  float: right;
  background-color: black;
  width: 40%;
  height: 100%;
  margin-right: 20px;
  border-radius: 3px;
}

.parpelles-top{
  height:  5px;
  margin-top: 5px;
}
.parpella-top-esquerra{
  float: left;
  background-color: black;
  width: 10%;
  height: 100%;
  margin-left: 100px;
  border-radius: 3px;
}

.parpella-top-dreta{
  float: right;
  background-color: black;
  width: 10%;
  height: 100%;
  margin-right: 100px;
  border-radius: 3px;
}

.pupila{
  height: 40px;
  width: 100%;
}

.pupila-esquerra{
  float: left;
  background-color: lightblue;
  width: 10%;
  height: 100%;
  margin-left: 100px;
  border-radius: 3px;
  margin-top: 2px;
  border-radius: 100%;

}

.pupila-dreta{
  float: right;
  background-color: lightblue;
  width: 10%;
  height: 100%;
  margin-right: 100px;
  border-radius: 3px;
  margin-top: 2px;
  border-radius: 100%;
}

.iris-esquerra{
  float: left;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-left: 0px;
  border-radius: 3px;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 15px;

}

.iris-dreta{
  float: right;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-right: 0px;
  border-radius: 3px;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 15px;
}


.parpelles-bottom{
  height:  5px;
  margin-top: 5px;
}
.parpella-bottom-esquerra{
  float: left;
  background-color: black;
  width: 10%;
  height: 100%;
  margin-left: 100px;
  border-radius: 3px;
}

.parpella-bottom-dreta{
  float: right;
  background-color: black;
  width: 10%;
  height: 100%;
  margin-right: 100px;
  border-radius: 3px;
}

.orelles{
  height:  150px;
  width: 50%;
  margin: auto;
}

.orella-esquerra{
  float: left;
  background-color: pink;
  width: 10%;
  height: 100%;
  margin-left: 26px;
  margin-top: 400px;
  border-radius: 100%;

}

.orella-dreta{
  float: right;
  background-color: pink;
  width: 10%;
  height: 100%;
  margin-right: 26px;
  margin-top: 400px;
  border-radius: 100%;
}

.nas{
  height: 100px;
  width: 80px;
  margin: auto;
  background-color: red;
  border-radius: 100%;
  margin-top: -70px;
}


.boca{
  height: 50px;
  width: 50%;
  background-color: red;
  border-radius: 0 0 100px 100px;
  margin: 60px auto 0 auto;
}
.barba{
  width: 100%;
  height: 300px;
  margin-top: 60px;
  background-color: brown;
border-radius: 0 0 200px 200px;
padding-top: 20px;

}
